.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  margin: 0;
}

.search-label {
  color: white;
}

.search-field .mat-mdc-input-element {
  color: #fff;
  caret-color: #fff;
}
