.bookmark-card {
  max-width: 1050px;
  margin: 2rem auto;
  padding: 0;

  .bookmark-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0 24px;

    .bookmark-card-title {
      font-size: 1.25rem;
      font-weight: 500;
      flex: 1;
    }
    .bookmark-card-description {
      flex: 2;
      text-align: center;
      color: #757575;
      font-size: 1.1rem;
    }
    .bookmark-card-icon {
      flex: 0;
      display: flex;
      align-items: center;
      color: #757575;
      font-size: 2rem;
    }
  }

  .bookmark-card-fields {
    display: flex;
    gap: 2rem;
    padding: 24px 24px 0 24px;

    .bookmark-field {
      flex: 1;
    }
  }

  .mat-divider {
    margin: 24px 0 0 0;
  }

  .bookmark-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
  }
}
